* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 2em;
    font-family: 'Caveat';
    font-size: 1.3rem;
    background: rgba(129, 236, 236, .2);


}

/************ input **************/

.user-input {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

input {
  width: 40%;
  border-radius: 1em;
  height: 2.5em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
  padding: 0 1em;
}

/*************** output style ************/
h3 {
  color:rgba(116, 103, 103, .5);
}

ul {
    list-style-type: none;
}

ul li {
  margin: 1em;
}

.checked {
  text-decoration: line-through;
}

/********* div with icons **********/
ul li div {
  display: none;
  width: 30%;
}

i {
  margin-right:1em;
  cursor: pointer;
}

.done {
  color: green;
}

.shoppingItem {
  padding: 0.6em;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.shoppingItem:hover {
  background:rgba(255, 107, 107,1.0);
  color: white;
}

.green:hover {
  color: green;
}

.grey:hover {
  color: grey;
}

.yellow:hover {
  color: yellow;
}

.newInput {
  height: 1.8em;
}

.shopping-list {
  background: #fff;
  box-shadow: 0 0 1em rgba(0,0,0,0.3);
  margin: 26px auto 0;
  width: 40%;
  min-height: 60%;
  padding: 24px;
  position: relative;
  font-family: 'Caveat';
  font-size: 1.1rem;
}


.shopping-list::before,
.shopping-list::after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.shopping-list::before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}

.shopping-list::after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

@media (max-width: 768px) {
  .shopping-list {
    width: 80%;
  }

  input {
    width: 80%;
  }
}
